<section class="card">
    
        <h5 class="question">{{question.value}}</h5>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <th class="importance-col">Importance 1</th>
                        <th class="importance-col">Importance 2</th>
                        <th class="importance-col">Importance 3</th>
                        <th class="satisfactioin-col">Satisfaction 1</th>
                        <th class="satisfactioin-col">Satisfaction 2</th>
                        <th class="satisfactioin-col">Satisfaction 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Feature 1</td>
                        <td><input type="radio" name="importance1"></td>
                        <td><input type="radio" name="importance1"></td>
                        <td><input type="radio" name="importance1"></td>
                        <td><input type="radio" name="satisfaction1"></td>
                        <td><input type="radio" name="satisfaction1"></td>
                        <td><input type="radio" name="satisfaction1"></td>
                    </tr>
                    <tr>
                        <td>Feature 2</td>
                        <td><input type="radio" name="importance2"></td>
                        <td><input type="radio" name="importance2"></td>
                        <td><input type="radio" name="importance2"></td>
                        <td><input type="radio" name="satisfaction2"></td>
                        <td><input type="radio" name="satisfaction2"></td>
                        <td><input type="radio" name="satisfaction2"></td>
                    </tr>
                    <tr>
                        <td>Feature 3</td>
                        <td><input type="radio" name="importance3"></td>
                        <td><input type="radio" name="importance3"></td>
                        <td><input type="radio" name="importance3"></td>
                        <td><input type="radio" name="satisfaction3"></td>
                        <td><input type="radio" name="satisfaction3"></td>
                        <td><input type="radio" name="satisfaction3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</section>