.header {
  height: 250px; 
  display: flex;
  padding: 2%;
  align-items: center;
  
  background-image: url("/assets/cover.jpg");
  border-radius: 10px;
  background-size: cover; 
  background-position: center; 
}


.header-title {
  
  color: white;
  font-size: 3vw; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  position: relative; }

