<section class="card">
    <h5 class="question">{{question.value}}</h5>
    <div class="smiley-scale">
    
        <label>
            <span class="smiley">😡</span>
            <input type="radio" name="satisfaction" value="1">
        </label>
        <label>
            <span class="smiley">😠</span>
            <input type="radio" name="satisfaction" value="2">
        </label>
        <label>
            <span class="smiley">😐</span>
            <input type="radio" name="satisfaction" value="3">
        </label>
        <label>
            <span class="smiley">😃</span>
            <input type="radio" name="satisfaction" value="4">
        </label>
        <label>
            <span class="smiley">😄</span>
            <input type="radio" name="satisfaction" value="5">
        </label>
    </div>

</section>
