<section class="card">
    <div class="container">
        <h5 class="question">{{ question.value }}</h5>

        
        <label>
            <input type="radio" name="main-quest" [formControl]="controller" [value]="true">
            Yes
        </label>
        <label>
            <input type="radio" name="main-quest" [formControl]="controller" [value]="false">
            No
        </label>
        @if (controller.value === true) {
        @for ( question of question.nestedQuestions ; track question) {

        @switch (question.type) {
        @case ("multiple-choice") {
        <app-multiple-choice [question]="question"></app-multiple-choice>
        }
        @case ("simple-matrix") {
        <app-simple-matrix [question]="question"></app-simple-matrix>
        }
        @case ("double-matrix") {
        <app-double-matrix [question]="question"></app-double-matrix>
        }
        @case ("linear-scale") {
        <app-linear-scale [question]="question"></app-linear-scale>
        }
        @case ("free-response") {
        <app-free-response [question]="question"></app-free-response>
        }

        @default {
        <p>Unknown question type</p>
        }
        }
        }
        }
    </div>
</section>