<section class="card">
  
        <h5 class="question">{{question.value}}</h5>
        <div class="table-container">
            <table >
                <thead>
                    <tr>
                        <td></td>
                        <th>col1</th>
                        <th>col2</th>
                        <th>col3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ipsum dolor</td>
                        <td><input type="radio" name="ln1"></td>
                        <td><input type="radio" name="ln1"></td>
                        <td><input type="radio" name="ln1"></td>
                    </tr>
                    <tr>
                        <td>dolor</td>
                        <td><input type="radio" name="ln2"></td>
                        <td><input type="radio" name="ln2"></td>
                        <td><input type="radio" name="ln2"></td>
                    </tr>
                    <tr>
                        <td>ame</td>
                        <td><input type="radio" name="ln3"></td>
                        <td><input type="radio" name="ln3"></td>
                        <td><input type="radio" name="ln3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    

</section>