<section class="card">
    <form action="">
        <h5 class="question">How many employees does your company have?</h5>
        <div class="table-container">
            <table >
                <thead>
                    <tr>
                        <td></td>
                        <th>col1</th>
                        <th>col2</th>
                        <th>col3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ligne 1</td>
                        <td><input type="radio" name="employees1"></td>
                        <td><input type="radio" name="employees1"></td>
                        <td><input type="radio" name="employees1"></td>
                    </tr>
                    <tr>
                        <td>ligne 2</td>
                        <td><input type="radio" name="employees2"></td>
                        <td><input type="radio" name="employees2"></td>
                        <td><input type="radio" name="employees2"></td>
                    </tr>
                    <tr>
                        <td>ligne 3</td>
                        <td><input type="radio" name="employees3"></td>
                        <td><input type="radio" name="employees3"></td>
                        <td><input type="radio" name="employees3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </form>
</section>